---
import Cards from "../components/Cards";
import "../global.css";
---

<html>
  <body class="dark">
    <main class="w-full h-full">
      <h1 class="font-bold text-gray-400">teste</h1>
      <Cards />
    </main>
  </body>
</html>