---
import CardsList from "../components/cards-list";
import getCards from "../services/get-cards.ts";
import "../global.css";

const cardsList = await getCards();
---

<html>
  <body class="dark">
    <main class="w-[full] h-[100vh] flex items-center justify-items-center">
    <CardsList cards={cardsList} />
    </main>
  </body>
</html>